Thumbs.db
.idea
.vscode
*.pyc

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Terraform crash log
**/crash.log

# Go Tests
**/vendor
**/Gopkg.toml
**/Gopkg.lock

# Mac OS files
*DS_Store
